*{
    box-sizing: border-box;
    text-align: justify;
    justify-content: center;
    font-family: Carlito,sans-serif
}

body{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color:burlywood;
}

div {
    border: 1px solid black;

}

nav>a{
    margin: 0;
    border: 1px solid;
    padding: 0.5em;
}

#header{
    border-bottom: 1px solid;
    padding-bottom: 1em;
}

img {
    display: block;
    margin: 10px auto;
}