*{
    box-sizing: border-box;
    text-align: justify;
    font-family: Carlito,sans-serif
}
html{
    background-color: white;
}

body{
    width: 100%;
    max-width: 1000px;
    border: 3px black;
    margin: 0 auto;
    padding: 2em;
    background-color:burlywood;
}

h1{
    text-align: center;
}

h2{
    text-align:center;
}


img {
    width: 60%;
}

div {
    text-align: center;
}

nav>a{
    margin: 0;
    border: 1px solid;
    padding: 0.5em;
}

#header{
    border-bottom: 1px solid;
    padding-bottom: 1em;
    text-align: center;
}

img {
    display: block;
    margin: 10px auto;
}